  
*{
    background-color: #44; 
    margin: 0;
}    

h1,h2 {
    margin-top: 75px;
    margin-bottom: 0; 
    padding-top: 37.5px; 
    background-color: white; 
    color: black;
    font-size: 64px;
    font-family: Helvetica;
    text-align: center;
}
}

p,p,p {
    background-color: white; 
    margin: 0;

}


