  
*{
    background-color: #264;
    font-size: 32px; 
    margin: 0;}    

h1 {
    margin-top: 32.5px;
    margin-bottom: 32.5px; 
    padding-top: 37.5px;
    padding-bottom: 37.5px; 
    background-color: white; 
    color: black;
    font-size: 64px;
    font-family: Helvetica;
    text-align: center;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px; 
    padding-top: 10px;
    padding-bottom: 10px; 
    background-color: lavenderblush;
    color: black;
    font-size: 32px;
    font-family: Helvetica;
    text-align: center;
}

a {
    margin-top: 20px;
    margin-bottom: 20px; 
    margin: 0;
    background-color: white;
    color: black;
    font-size: 24px;
    font-family: Helvetica;
    text-align: center;
}


