  *{
    background-color: #52f; 
    font-size: 32;
    margin: 0;
}   
a{
  padding-top: 37.5px;
  padding-bottom: 37.5px;
  color: white;
}
h2 {
  padding-top: 10px; 
  padding-bottom: 10px;
  color: white;
 }
 h3 {
  margin-top: 25px; 
  margin-bottom: 25px;
  color: white;
 }

 p {
  margin-top: 25px; 
  margin-bottom: 25px;
  color: white;
 }

 h2 {
  margin-top: 20px; 
  margin-bottom: 0;
  color: white;
 }
